<!DOCTYPE html>
<html>
<div class="main">
  <div class="container">
    <h1>Welcome to Dropigee</h1>
   <style>
body {
    background-color: white;
}

h2 {
    color: black;
    margin-left: 40px;
} 
p {
	color:grey;
	padding: 3;

}
</style>
		<h2>CDN services</h2>
    <p>Dropigee is the CDN with all you need ready to go from the start</p>
  </div>
</div>
<p>
<a href="images/nicepic.jpg">
<img src="images/nicepic.jpg" alt="Mountain View" style="width:304px;height:228px;">
</a>
</p>
</html>