<!DOCTYPE html>
<html>
   <style>
h1 {
    background-color: white;
}

h2 {
    color: black;
    margin-left: 40px;
} 
p {
	color:grey;
	padding: 3;

}
img {
width: 800px;

}
</style>
<div class="col-md-3 col-md-offset-3">
<h1>our locations</h1>
<a href="assets/dropigeecdnserverloc.png">
<img src="assets/dropigeecdnserverloc.png"></a>
</div>
</html>